<ol class="breadcrumb">
  <app-breadcrumb></app-breadcrumb>
  <!-- Breadcrumb Menu-->
  <li class="breadcrumb-menu d-md-down-none">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    </div>
  </li>
</ol>
<div class="app-body">
  <main class="main d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">

          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form>


                  <br>
                  <a [routerLink]="['/vote']">


                        <h1 style="text-align: center;"> <i class="cui-note icons font-6xl d-block mt-4"> votez</i></h1>



                  </a>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center" >
                <div>

                  <a  [routerLink]="['/dashboard']">

                  <h1 style="color: white;" > <i class="cui-task icons font-6xl d-block mt-4"> Résultats</i></h1></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<app-footer>
  <span><a href="https://www.univ-paris13.fr/">Université Paris 13</a> &copy; 2018</span>
  <span class="ml-auto">Developed by <a href="http://www.sofiene-ben-khemis.fr">Sofiene BEN KHEMIS</a></span>
</app-footer>
